body {
  font-weight: medium;
  line-height: 1.6;
  letter-spacing: 0.2;
  font-size: 16px;
}

/* ========= Text ============ */
h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

/* ========= NAVIGATION ============ */
nav {
  position: fixed;
  z-index: 8;
  bottom: 0;
  background-color: #9358eb;
  align-items: center;
  width: 100%;
}

.nav-a {
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  transition: all ease 250ms;
}

nav a:hover {
  color: #fff;
}

.gif a img {
  width: 40px;
  height: auto;
  margin-top: 30px;
}

.gif {
  position: fixed;
  width: 100%;
  text-align: center;
}

.nav-a .active {
  color: #fff;
}

.gif.projekt a img {
  width: 40px;
}

.gif.projekt {
  padding: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

/* =======--------------------------------------------------------------== index.html ======-====== */

.Layout {
  padding: 100px 16px 0 16px;
}

.Layout .header-start h3 {
  font-weight: normal;
  margin-top: 20px;
  cursor: default;
}

.header-start {
  text-align: center;
  width: 100%;
  align-items: center;
  align-self: center;
  margin-top: 70px;
}

.sticky {
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* FOOTER ______________________________________________________________________________ */
.footer-text {
  background-color: #b8d848;
  bottom: 0;
  padding: 7px 16px 45px 16px;
  display: flex;
  justify-content: space-between;
}

.footer-text .imprint p {
  padding: 0 16px 0 0;
}

.footer-text p {
  transition: all ease 250ms;
  margin: 8px 0;
  font-size: 14px;
}

.footer-text a p:hover {
  color: #fff;
}

/* ---------information.html----------------------------------- */
.contact-content {
  margin-bottom: 2em;
}

.contact-content h2 {
  align-content: center;
  color: #9358eb;
  transition: all ease 300ms;
  line-height: 0.8;
}

.contact-content h2:hover {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, -10px, 0px);
}

article {
  max-width: 600px;
}

figure .portrait {
  position: absolute;
  width: 35%;
  height: auto;
  top: 100px;
  right: 16px;
  transform: rotate(-20deg);
  animation: float 6s ease-in-out infinite;
}

.about-me a p {
  color: #9358eb;
  text-decoration: underline;
}

.about-me p span {
  font-weight: bold;
}

/* ========= archive ===========_________________________________________________________= */
.Layout.archive {
  padding: 100px 16px 0 16px;
}

.wrap ul {
  margin-bottom: 10em;
}

.wrap ul li {
  align-items: baseline;
  color: #000;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
  font-size: 20px;
  border-top: 2px solid #000;
  transition: all ease 0.5s;
  font-weight: 500;
}

.wrap ul li span {
  padding-top: 5px;
  align-items: baseline;
  float: right;
  font-size: 16px;
  font-weight: normal;
}

.wrap ul li img {
  position: fixed;
  left: 4%;
  right: 4%;
  width: 92%;
  margin-top: 1em;
  z-index: -1;
  opacity: 0;
  transition: all ease 500ms;
}

.wrap ul li:hover img {
  opacity: 1;
  animation: float 6s ease-in-out infinite;
}

.wrap ul li:hover {
  padding: 30px 0;
  cursor: default;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

/* ========= PROJEKTE ============ */
.Layout.work {
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: stretch;
}

/* HOVER EFFECT ----------------------------- */
.Projekt {
  transform-style: preserve-3d;
  overflow: hidden;
}

.Projekt img {
  transition: all ease .4s;
  transform-style: preserve-3d;
}

.Projekt figure figcaption {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  transition: all ease .4s;
  color: #1F1F1F;
  opacity: 0;
}

.Projekt figure figcaption p {
  font-weight: normal;
}

.Projekt figure:hover figcaption {
  opacity: 1;
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, -20px, 0px);
}

.Projekt figure:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, -20px, 0px);
}

/* ---------IMPRESSUM----------------------------------- */
.Impressum p {
  margin-bottom: 40px;
}

/* PROJECT VIEW  _______________________________________ */
.opener {
  width: 100%;
  margin-top: 90px;
}

.doings {
  color: red;
}

header p span {
  color: #9358eb;
}

.project-view .view {
  margin: 0;
  height: auto;
  padding: 20px 16px 20px 16px;
  display: block;
  position: relative;
  background-color: none;
}

.project-view .view.text {
  padding-top: 38px;
  padding-bottom: 40px;
  display: block;
}

/* ------------------------------------------------------------------------------------------------- GG -----*/
.project-view figure.view.one {
  background-color: #f0f0f0;
}

.project-view figure.view.two {
  background-color: #ffcd00;
}

.project-view figure.view.three {
  background-color: #ff1b55;
}

.project-view figure.view.four {
  background-color: #0055ff;
}

.project-view figure.view.five {
  background-color: #f0f0f0;
}

/* ------------------------------------------------------------------------------------------------- AZM -----*/
.project-view figure.view.azm.one {
  background-color: #000000;
}

.project-view figure.view.azm.two {
  background-color: #ffffff;
}

.project-view figure.view.azm.three {
  background-color: #dfdfe1;
}

/* ------------------------------------------------------------------------------------------------- Doings -----*/
.project-view figure.view.doings.one {
  background-color: #ffffff;
}

.project-view figure.view.doings.two {
  background-color: #fe2725;
}

/* ------------------------------------------------------------------------------------------------- Komma -----*/
.project-view figure.view.komma.one {
  background-color: #000000;
}

.project-view figure.view.komma.two {
  background-color: #ffffff;
}

/* ------------------------------------------------------------------------------------------------- Sound -----*/
.project-view figure.view.sound.one {
  background-color: #000000;
}

.project-view figure.view.sound.two {
  background-color: #ffffff;
}

/* ------------------------------------------------------------------------------------------------- Sound -----*/
.project-view figure.view.waben.one {
  background-color: #94b4b9;
}

.project-view figure.view.waben.two {
  background-color: #edece5;
}

.project-view figure.view.waben.three {
  background-color: #dc7346;
}

.project-view figure.view.waben.four {
  background-color: #e7d093;
}




.other-projects {
  background-color: #d84848;
  display: flex;
  justify-content: space-between;
  padding: 15px 16px 0px 16px;
}

.other-projects a {
  transition: all ease 250ms;
}

.other-projects a:hover {
  color: #ffff;
}

.other-projects h3 {
  font-weight: normal;
}

.other-projects figure {
  margin: 0;
}
