body {
  font-weight: medium;
  line-height: 1.6;
  letter-spacing: 0.2;
  font-size: 16px;
}

/* ========= Text ============ */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

/* ========= NAVIGATION ============ */
nav {
  padding: 15px 16px;
}

.nav-a {
  font-size: 20px;
}

.gif a img {
  width: 50px;
  margin-top: 30px;
}

.gif.projekt a img {
  width: 50px;
}

.gif.projekt {
  padding: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

/* =======--------------------------------------------------------------== index.html ======-====== */

.Layout {
  padding: 50px 16px;
}

.header-index {
  padding: 120px 16px 0px 16px;
}

header h3 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
}

/* FOOTER ______________________________________________________________________________ */
footer {
  bottom: 0px;
  width: 100%;
  padding-bottom: 60px;
}

.footer-content {
  background-color: #b8d848;
  padding: 7px 16px;
  align-items: center;
  color: #000;
}


.footer-text .imprint p {
  padding-right: 15px;
}

.footer-text p {
  font-size: 14px;
}

/* ---------information.html----------------------------------- */
.contact-content {
  margin-top: 8em;
}

.contact-content h2 {
  margin-right: 10px;
}

figure .portrait {
  width: 40%;
  height: auto;
  top: 120px;
  right: 30%;
}


/* ========= archive ===========_________________________________________________________= */
.Layout.archive {
  padding: 120px 16px 0 16px;
}

.wrap ul {
  margin-bottom: 10em;
}

.wrap ul li {
  font-size: 20px;
  border-top: 2px solid #000;
}

.wrap ul li span {
  font-size: 16px;
}

.wrap ul li img {
  left: 4%;
  right: 4%;
  width: 92%;
  margin-top: 1em;
  z-index: -1;
}

/* ========= PROJEKTE ============ */
.Layout.work {
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* HOVER EFFECT ----------------------------- */

.Projekt figure figcaption {
  opacity: 1;
}

.Projekt figure figcaption p {
  font-weight: 300;
}

/* ---------IMPRESSUM----------------------------------- */
.Impressum p {
  margin-bottom: 100px;
}

/* PROJECT VIEW  _______________________________________ */
.opener {
  margin-top: 90px;
}

.project-view .view {
  height: auto;
  padding: 20px 16px 20px 16px;
  display: block;
  position: relative;
  background-color: none;
}

.project-view .view.text {
  padding-top: 38px;
  padding-bottom: 40px;
}



.other-projects {

  padding: 15px 16px 0px 16px;
}


.other-projects h3 {
  font-weight: 300;
}